.chart_container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;
    padding-left: 0;
    padding-top: 1.3rem;
    border-radius: 1.3rem;
    background-color: rgba(var(--bg-color), 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

}

.chart_container h1 {
    width: 100%;
    padding-left: 2.3rem;

    font-size: 1.3rem;
    text-align: start;
    color: rgb(var(--primary-color));
}