.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.top_info_container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.top_info_container h1 {
    font-size: 1.6rem;
}

.main_temp_container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.main_temp_container h1 {
    font-size: 4.2rem;
}


.main_temp_container div {
    display: flex;
    gap: 5px;
}

.main_temp_container div p {
    font-size: 1.2rem;
}

.weather {
    display: flex;
}

.weather img {
    width: 45px;
    margin-left: -20px;
}

.weather p {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.autocomplete {
    width: 100%;
    display: flex;

    justify-content: flex-end;
}

.location_browser {
    width: fit-content;
}

.input_label {
    color: rgb(var(--tertiary-color));
    font-size: 1rem;
}

.input {
    color: #bffefc !important;
}